

# Ignore build results globally
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/ 
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# Ignore NuGet packages
*.nupkg


# Ignore the filecontentindex folder
filecontentindex/
