@using Credit.System.App.Enums
@using System.ComponentModel


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    
    <style type="text/css" id="operaUserStyle">
    
        
        body{
            background-color: #F8F9FA;
        }

        #main-container{
            
           padding:10px;
            
        }

        label{
            font-size:0.8rem;
            color: #595C5F
        }

        #titClientRegister {
            background-color: #212529;
            color: #F8F9FA;
            padding: 8px;
            padding-bottom:.5px;
            align-items:center;
            align-content:center;
            border-radius:11px;
            display:flex;
            margin-bottom:1rem;
            
        }

        #dadosPessoais{
            background-color: #F2F2F2;
            border-radius: 11px;
            padding: 10px;
            margin-bottom: 1rem;
        
        }

        #adress {
            background-color: #F2F2F2;
            border-radius: 11px;
            padding: 10px;
            margin-bottom: 1rem;
        }

        p{
            color:#5C636A;

        }
    
    </style> 

</head>

@{
    var states = Enum.GetValues(typeof(States)).Cast<States>().ToList();
}

@* <body class="bg-light" style="background-color:#F8F9FA"> *@

<div class="shadow p-3 mb-5 bg-body-tertiary rounded" id="main-container">

    
    <div id="titClientRegister">
        <h4 class="mb-3">Cadastrar Cliente</h4>
    </div>
   
    <div class="container" id="dadosPessoais">

            <div class="row">
                <p>Dados pessoais: </p>
                <div class="col-md-3 mb-3">
                    <label for="firstName">Razão Social/Nome</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Digite o nome" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="lastName">Email</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Digite um email válido" value="" required="">
                    <div class="invalid-feedback">Valid last name is required.</div>
                </div>
            </div>

            <div class="row">
                <!-- CPF/CNPJ, Endereço, and Number side by side -->
                <div class="col-md-2 mb-3">
                    <label for="username">CPF/CNPJ</label>
                <input type="text" class="form-control" id="inputCpfCnpj" name="inputCpf" placeholder="CPF/CNPJ" required="">
                    <div class="invalid-feedback" style="width: 100%;">Your username is required.</div>
                </div>

                @*  <div class="col-md-6 mb-3">
                    <label for="address">Endereço</label>
                    <input type="text" class="form-control" id="address" placeholder="Digite um endereço" required="">
                </div> *@

                <div class="col-md-2 mb-3">
                    <label for="addressNumber">Contato 1</label>
                    <input class="form-control" id="addressNumber" placeholder="Número">
                </div>

                <div class="col-md-2 mb-3">
                    <label for="addressNumber">Contato 2</label>
                    <input class="form-control" id="addressNumber" placeholder="Número">
                </div>
            </div>

     </div>

    <div class="container" id="adress">
            
            <p>Endereço: </p>
        
            <div class="row">

                <div class="col-md-2 mb-3">
                    <label for="zipCode">Cep</label>
                    <input type="text" class="form-control" id="txtCep" placeholder="Digite um Cep" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-3 mb-3">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>

                <div class="col-md-1 mb-3">
                    <label>Número</label>                 
                    <input type="text" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>
                

            </div>

            <div class="row">
            <div class="col-md-3 mb-3">
                <label>Observação</label>
                <input type="text" class="form-control" placeholder="" required="">
                <div class="invalid-feedback">Zip code required.</div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-1 mb-3">
                    <label>Estado</label>
                    <input type="text" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Municipio</label>
                    <input type="text" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>

                <div class="col-md-2 mb-3">
                    <label>Bairro</label>
                    <input type="text" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">Zip code required.</div>
                </div>

            </div>

        </div>

        <button  class="btn btn-secondary">Cadastrar</button>

</div>

<script>
        var options = {
        onKeyPress: function (inputCpfCnpj, ev, el, op) {
            var masks = ['000.000.000-00', '00.000.000/0000-00'];
            $(el).mask((inputCpfCnpj.replace(/\D/g, '').length > 11) ? masks[1] : masks[0], op);
        }
    };

    // Aplica a máscara correta ao carregar a página
    $('#inputCpfCnpj').mask('000.000.000-00', options);

    // Atualiza a máscara dinamicamente ao digitar
    $('#inputCpfCnpj').on('input', function () {
        $(this).mask($(this).val().replace(/\D/g, '').length > 11 ? '00.000.000/0000-00' : '000.000.000-00', options);
    });
    
    
</script>


   

<script src="~/js/Utils.js"></script>



