<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Reference the User.js file -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/User.js"></script> 
</head>
<body>

    <input type="text" id="loginInput" />
    <input type="password" id="passwordInput" />
    <button type="button" onclick="UserLogin()" id="loginBtn">Login</button>
    <!-- Your content goes here -->
</body>
</html>












